#example_1 td:first-child::before{
	background-color: #006064;
}
#example_1 tbody td {
	font-size: 14px;
}

#example_1 thead tr th {
	font-size: 14px;
	color: #2d4d2d;
}

#example_1 tbody td {
	padding-top: 2px;
	padding-bottom: 2px;
	color: #040011;
}
#example_1 thead th {
	padding-top: 3px;
	padding-bottom: 3px;
}
#example_1 tbody tr.odd:hover td, #example_1 tbody tr.even:hover td,#example_1  tbody tr.odd:hover td a,#example_1 tbody tr.even:hover td a {
	color: #fff;
	background-color: #006064;
}
#example_1 tbody tr td a{
	color: #006064;
}
caption {
    padding: 0px;
	color: #fff;
}
#example_1 tbody td	{
	word-wrap: break-word; word-break: break-all; white-space: normal;
	font-size: 12px;
}

.buttons-excel{
	margin-left: 10px;
	margin-right: 20px;
}

.dataTables_info, #example_1_filter label{
	color: #fff;
}
#dataTableDiv{
	margin-top: -10px;
	font-size: 15px;
}
.dataTable{
	font-size: 13px;
}
